.plan-list-container {
    width: 100%;
}
.plan-item-container {
    padding: 4px 10px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ede9e9;
    border: 2px solid black;
}
.plan-list-container .plan-name-tag {
    width: 50%;
}

.no-border-top {
    border-top: 0;
}

.total-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
